h2 {
  color: #fff;
}
.header-container-bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.header-container-bottom {
  background-color: #414141;
}

.header-bottom {
  width: 80%;
  padding: 1rem 0;
}
