* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: min(100%, 1400px);
}

html {
  font-size: 1rem;
}
@media (max-width: 800px) {
  html {
    font-size: 0.8rem;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  background: none;
  outline: none;
  border: none;
  color: #fff;
}
ul {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 2rem;
}

.seriesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
  margin-inline: auto;
}

.pageHeader {
  font-size: 2rem;
  color: #000;
  inset: 0;
  margin: auto;
}
